#additionalLayerSet .ay-quantity {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#additionalLayerSet .ay-btn-remove {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

#additionalLayerSet .ay-btn-edit {
  position: absolute;
  top: 0;
  right: 35px;
}