<script type="text/ng-template" id="additionalLayerSingle.html">
    <div class="modal-header">
        <h3 class="modal-title pull-left">{{product.name}}</h3>
        <button class="btn btn-default pull-right" ng-click="cancel()">X</button>
    </div>
    <div class="modal-body">
        <form id="ay-attributes-form" class="form-horizontal" role="form" name="attributesForm" novalidate>

            <div class="form-group form-group-lg">
                <label class="col-sm-3 control-label">Produkt ID</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{product.id}}</p>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label class="col-sm-3 control-label">Marke</label>

                <div class="col-sm-9">
                    <p class="form-control-static">{{product.brand.name}}</p>
                </div>
            </div>

            <!-- QUANTITY -->
            <div class="form-group form-group-lg"
                 ng-class="{ 'has-error': attributesForm.quantity.$invalid && attributesForm.quantity.$dirty, 'has-success' : attributesForm.quantity.$valid }">
                <label class="col-sm-3 control-label">Menge</label>

                <div class="col-sm-9">
                    <input class="form-control" name="quantity" type="number" ng-model="product.quantity" min="1"
                           required/>
                </div>
            </div>

            <!-- IMAGE URL -->
            <div class="form-group form-group-lg"
                 ng-class="{ 'has-error': attributesForm.imageUrl.$invalid && attributesForm.imageUrl.$dirty}">
                <label class="col-sm-3 control-label">Image URL (optional)</label>
                <div class="col-sm-9">
                    <input class="form-control" name="imageUrl" type="url" ng-model="product.additional_data.image_url" />
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div ng-if="product.additional_data.image_url.length&&attributesForm.imageUrl.$valid" class="form-group form-group-lg"
                 ng-class="{ 'has-error': attributesForm.description.$invalid}">
                <label class="col-sm-3 control-label">Description (required)</label>
                <div class="col-sm-9">
                    <input class="form-control" name="description" type="text" ng-model="product.additional_data.description" required/>
                </div>
            </div>

            <!-- ADDITIONAL DATA -->
            <div class="form-group form-group-lg">
                <label class="col-sm-3 control-label">additional data</label>

                <div class="col-sm-9">
                    <table class="table table-bordered table-striped">
                        <colgroup>
                            <col class="col-xs-1">
                            <col class="col-xs-7">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in product.additional_data">
                            <td>
                                <code>{{key}}</code>
                            </td>
                            <td>
                                <code>{{value}}</code>
                                <i class="fa fa-times pull-right " ng-click="removeAttribute(key)"></i>
                            </td>
                        </tr>
                        <tr ng-show="isEmpty(product.additional_data)">
                            <td>
                                --
                            </td>
                            <td>
                                --
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label class="col-sm-3 control-label">Key</label>

                <div class="col-sm-9">
                    <input ng-model="newAttribute.key" class="form-control" type="text" name="keyInput"
                           placeholder="Schlüssel angeben">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-sm-3 control-label">Value</label>

                <div class="col-sm-9">
                    <input ng-model="newAttribute.value" class="form-control" type="text" name="valueInput"
                           placeholder="Wert angeben">
                </div>
            </div>
            <button class="btn btn-default pull-right" ng-click="addAttribute()">
                <i class="fa fa-plus-circle"></i>
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <button  type="submit" class="btn btn-primary" ng-disabled="attributesForm.$invalid" ng-click="addItemToBasket(product)">
            Add to basket
        </button>
        <button type="submit" class="btn btn-default" ng-disabled="attributesForm.$invalid" ng-click="saveItem()">
            Save
        </button>
    </div>
</script>