<header id="ay-navbar" class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="navbar-inner">
            <nav breadcrumb="" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <select ng-change="updateCurrentApp()" class="form-control pull-left col-xs-6" ng-model="currentApp.selected" ng-options="app.name for app in apps" style="margin-top:8px;"></select>
                    </div>
                    <div ng-hide="hideCategories" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-attr-category="{{category.name}}" class="dropdown" ng-repeat="category in categories">
                                <a ng-attr-category="{{category.name}}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{category.name}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{'dropdown-submenu':category.subcategories.length}" ng-repeat="category in category.subcategories" ng-include="'category-menu-template.html'"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
</header>

<script type="text/ng-template" id="category-menu-template.html">
        <a ng-attr-category="{{category.name}}" ng-click="selectCategory(category);setBreadcrumb($event)" ng-href="/categories/{{category.id}}" tabindex="-1" href="#">{{category.name}}</a>
        <ul class="dropdown-menu">
            <li ng-class="{'dropdown-submenu':category.subcategories.length}" ng-repeat="category in category.subcategories" ng-include="'category-menu-template.html'"></li>
        </ul>
</script>
