<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
        <select ng-change="updateCurrentApp()" class="form-control pull-left col-xs-6" ng-model="currentApp.selected"
                ng-options="app.name for app in apps" style="width: 50%; margin-top:10px;"></select>
        <!--
        <div ng-repeat="parent in categories" class="dropdown pull-right" style="margin-top:10px; margin-left: 10px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{parent.name}}
                <span class="caret" ng-show="parent.subCats.length>1" ></span>
            </button>
            <ul ng-show="parent.subCats.length>1" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="subCat in parent.subCats"  role="presentation">
                    <a role="menuitem" tabindex="-1" ng-href="/categories/{{subCat.id}}">{{subCat.name}}</a>
                    <ul>
                        <li ng-repeat="subSubCat in subCat.subCats">
                            <a ng-href="/categories/{{subSubCat.id}}">
                                {{subSubCat.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        -->
    </div>
</div>
