$screen-sm-min: 768px;

#ay_product_canvas .caption {
  text-align: center;
}

#ay_product_canvas .thumbnail {
  cursor: pointer;
}

#ay_product_canvas .ay_brand_name {
  font-size: 13px;
}

#ay_product_canvas .ay_product_name {
  font-size: 11px;
  font-weight: 100;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/*******
 * Modal
 ******/

.modal-dialog {
  margin-top: 65px;
}

.modal-header {
  font-size: 1.0em;
  height: 65px;
}

.modal-footer {
  margin-top: 35px;
}

@media (min-width: $screen-sm-min) {
  #ay_product_canvas .thumbnail {
    height: 323px;
  }
}
