#ay_product_canvas {
  padding: 20px 20px 70px 20px;
}

#ay_product_canvas .caption {
  text-align: center;
}

#ay_product_canvas .thumbnail {
  cursor: pointer;
  position: relative;
  height: 300px;
}

#ay_product_canvas .thumbnail img {
  margin-top: 40px;
}

#ay_product_canvas .ay-btn-add,
#ay_product_canvas .ay-btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 0;
  border-top: 0;
}

#ay_product_canvas .ay-btn-info {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 0;
  border-top: 0;
}

#ay_product_canvas .ay_brand_name {
  font-size: 13px;
}

#ay_product_canvas .ay_product_name {
  font-size: 11px;
  font-weight: 100;
}

#ay-attributes-form i {
  cursor: pointer;
}

@media (min-width: $screen-sm-min) {
  #ay_product_canvas .thumbnail {
    height: 350px;
  }

  #ay_product_canvas .thumbnail img {
    margin-top: 65px;
  }
}

#ay_product_canvas .ay-loader {
  text-align: center;
}