<footer id="footer">
    <div class="container">
        <div ng-controller="ProductSetCtrl">
            <ul class="list-inline hidden-xs" >
                <li class="ay-product-preview" ng-repeat="item in items" ng-click="openAdditionalDataLayerSingle(item,'lg')">
                    <img ng-src="{{item.defaultImage.url}}?width=45&height=45" />
                    <input type="number" ng-model="item.quantity" min="1"/>
                    <button class="btn btn-danger ay-btn-delete" ng-click="removeItemFromSet(item, $index)">
                        <i class="fa fa-times"></i>
                    </button>
                </li>
                <li ng-hide="items.length"><i class="fa fa-plus"></i></li>
            </ul>
            <button class="btn btn-warning ay-btn-basket" ng-disabled="!items.length"
                    ng-click="openAdditionalDataLayerSet(items,'lg')">Produkte als Set in den Warenkorb legen
            </button>
        </div>
    </div>
</footer>