/********
 * Footer
 *******/

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

#footer .container {
  margin: 10px 0;
}

#footer .ay-btn-basket {
  position: absolute;
  right: 15px;
  top: 15px;
}

#footer .list-inline > li {
  width: 45px;
  border: 1px dotted #ddd;
  height: 45px;
  margin: 0px 35px 0px 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
  color: #ddd;
}

#footer .ay-product-preview {
  padding: 0 !important;
  position: relative;
  border: none !important;
}

#footer input {
  top: -5px;
  height: 20px;
  width: 37px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  color: #000;
}

#footer .ay-btn-delete {
  position: absolute;
  bottom: -8px;
}

@media (max-width: $screen-xs-max) {
  #footer .ay-btn-basket {
    position: absolute;
    left: 50%;
    margin-left: -140px;
  }

}